# Ignore IDE/Editor specific files and folders
.idea/
.vscode/

# Ignore Node.js related files and folders
node_modules/
package-lock.json

# Ignore build and compiled output
build/

# Ignore system-specific files
.DS_Store

# Ignore archived files
*.tgz

# Ignore files or folders starting with "my-app"
my-app*

# Ignore generated snapshots
template/src/__tests__/__snapshots__/

# Ignore lerna logs
lerna-debug.log

# Ignore npm and yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore dist files
/dist

# Ignore cache files
/.changelog
/.cache

# Environment files
.env
